h2 {
  color: red;
}

#button_area {
  height: 100px;
}


button {
  border: 2px solid black;
  font-size: 1em;
  margin: auto;
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 0;
}

#heading {
  margin: auto;
  text-align: center;
  height: 220px;
  width: 550px;
  background-color: #ffe6b3;
  border: 1px solid black;
}

#mainbody {
  border: 5px solid gray;
  margin: auto;
  padding: 0;
}

.grid {
  border: 1px solid black;
  border: none;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.row {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0px;
}
